:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.artboard {
  position: relative;
  display: block;
  flex-grow: 1;
  overflow: hidden;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.cursor-eyedropper {
  cursor: url('../../assets/cursor_eyedropper.png') 0 22, pointer;
}
.cursor-pencil {
  cursor: url('../../assets/cursor_crosshair.png') 9 9, pointer;
}
.cursor-panner-closed {
  cursor: url('../../assets/cursor_hand.png') 9 9, pointer;
}
.cursor-panner-open {
  cursor: url('../../assets/cursor_hand_open.png') 9 9, pointer;
}