:host {
  background: hsl(245, 10%, 30%);
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tool {
  opacity: 0.3;
  padding: 10px;
}

.tool.active {
  opacity: 1;
  background: white;
  color: black;
}