<table>
  <tr 
    *ngFor="let layer of doc.layers; let i = index"
    [ngClass]="{
      current: layer == doc.activeLayer,
      selected: selection.includes(layer),
      'drag-above': dragDropIndex == i,
      'drag-below': dragDropIndex == i + 1
    }"
    (mousedown)="mousedown($event, layer)"
    (mousemove)="mousemove($event, layer)"
    (mouseup)="mouseup($event, layer)"
  >
    <th class="togglers">
      <a (click)="layer.isVisible = !layer.isVisible">
        <i class="far fa-eye" *ngIf="layer.isVisible"></i>
        <i class="far fa-eye-slash dim" *ngIf="!layer.isVisible"></i>
      </a>
    </th>
    <th class="name" (click)="doc.activeLayer = layer">
      {{layer.name}}
    </th>
    <td></td>
  </tr>
</table>