:host {
  display: block;
  background: hsl(205, 15%, 30%);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  width: 100px;
  text-align: left;
}

th, td {
  padding: 5px;
}

.togglers {
  width: 1px;
}

.name {
  width: 100px;
}

.current {
  background: hsl(205, 15%, 40%);
}

.selected {
  background: hsl(205, 15%, 60%);
}

.dim {
  opacity: 0.3;
}

.drag-above {
  border-top: 4px solid red;
}