<a (mousedown)="mousedown($event)" (mousemove)="mousemove($event)" (mouseup)="mouseup($event)" *ngIf="!isRoot">
  <span class="label">{{menu.label}}</span>
  <span class="shortcut-hint" *ngIf="!parent.isRoot">^F</span>
</a>

<!-- using `ngIf` below to not even have menus on the DOM if they're
  not active, since it would be a lot of menus sitting around doing
  nothing and creating them is cheap-->
<div class="menu-children" *ngIf="(menu.children && menu.isOpen) || isRoot">
  <app-menu *ngFor="let subMenu of menu.children" [menu]="subMenu" [parent]="this"></app-menu>
</div>

<div class="menu-underlay-event-catcher" (mousedown)="clickedUnderlay()" *ngIf="isRoot && menu.isOpen"></div>