:host {
  background: hsl(205, 15%, 80%);
  color: black;
  cursor: pointer;
  z-index: 100; /* establish a stacking context above the normal app here so menus can use an input blocker to keep the js simpler */
  position: relative;
}

app-menu {
  display: inline-block;
}

app-menu a {
  padding: 5px 10px;
  display: inline-block;
}

app-menu app-menu {
  display: block;
}

app-menu app-menu a {
  display: block;
}

a:hover {
  background: hsl(205, 15%, 90%);
}

.open > a {
  background: hsl(205, 15%, 90%);
}

/* 2nd level menus go to the right */
.menu-children .menu-children {
  position: absolute;
  top: 100%;
  left: 0%;
  display: block;
  background: hsl(205, 15%, 80%);
}

.menu-children .menu-children a {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

/* finally, 3rd level menus go to the right */
.menu-children .menu-children .menu-children {
  top: 0%;
  left: 100%;
}

.shortcut-hint {
  display: inline-block;
  padding-left: 30px;
  text-align: right;
  color: hsl(205, 15%, 50%);
}

.menu-underlay-event-catcher {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}
