.menu {
  display: inline-block;
  position: relative;
}

.menu a {
  padding: 5px 10px;
  display: inline-block;
}

.menu a:hover, .menu.open a {
  background: hsl(205, 15%, 90%);
}

.sub-menu {
  position: absolute;
  top: 100%;
  background: hsl(205, 15%, 80%);
}