.app-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

header {
  background: hsl(205, 15%, 30%);
  color: hsl(205, 15%, 60%);
  border-bottom: 4px solid hsl(205, 15%, 45%);
}

header a {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

header a.active {
  color: white;
  background: hsl(205, 15%, 45%);
  text-decoration: underline;
}

.sidebar {
  width: 268px;
  background: hsl(205, 15%, 18%);
}

.everything-under-header {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
}

.color-big {
  height: 32px;
  margin: 4px;
  border: 2px solid black;
}

.menu-root {
  background: hsl(205, 15%, 80%);
  color: black;
  cursor: pointer;
}
