<div class="app-wrap flex-container-vertical">
  <app-menu class="menu-root" [menu]="app.menu"></app-menu>
  <header>
    <a *ngFor="let doc of app.docs; let i = index" [ngClass]="{active: app.activeDocIndex === i}" (click)="app.activeDocIndex = i">{{doc.name}}</a>
  </header>
  <div class="everything-under-header">
    <div class="sidebar">
      <app-color-picker [(color)]="app.colorFg"></app-color-picker>
      <div class="color-big" [ngStyle]="{background: app.colorFg.toHex()}"></div>
      <div class="color-big" [ngStyle]="{background: app.colorBg.toHex()}"></div>
      <app-palette [currentColor]="app.colorFg" [colors]="app.palette" (pickColor)="app.colorFg = $event"></app-palette>
    </div>

    <app-doc-view class="flex-fill" [app]="app" [doc]="app.activeDoc" *ngIf="app.activeDoc.isReady"></app-doc-view>
    <!-- TODO: show 'loading...' message if doc isn't `isReady` yet? -->
    <app-toolbar [tools]="app.toolbar" [activeTool]="app.activeTool" (selectTool)="app.activeTool = $event"></app-toolbar>
    <app-tool-properties [tool]="app.activeTool"></app-tool-properties>
  </div>
</div>