.host {
  display: block;
}

.canvas-wrap {
  margin: 4px;
  position: relative;
  overflow: hidden;
}

canvas {
  display: block;
  border: 2px solid black;
}

.hue-bar {
  width: 256px;
  height: 16px;
}

.reticle {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.reticle-image {
  background: url('../../assets/colorpicker_reticle.png');
  background-size: 100%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -16px;
  left: -16px;
  user-select: none;
  pointer-events: none;
}

.hue-reticle {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.hue-reticle-image {
  border: white 2px solid;
  width: 4px;
  height: 16px;
  position: absolute;
  top: 0px;
  left: -3px;
  user-select: none;
  pointer-events: none;
}