.host {
  display: block;
}

.canvas-wrap {
  margin: 4px;
  position: relative;
  overflow: hidden;
}

canvas {
  display: block;
  border: 2px solid black;
}

.hue-bar {
  width: 256px;
  height: 16px;
}

.reticle {
  position: absolute;
  pointer-events: none;
}

.reticle-image {
  background: url('/assets/colorpicker_reticle.png');
  background-size: 100%;
  width: 32px;
  height: 32px;
  position: relative;
  top: -16px;
  left: -16px;
  user-select: none;
  pointer-events: none;
}