* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(73, 65, 78);
  color: white;
  font-family: sans-serif;
  user-select: none;
}

.doc-view {
  padding: 10px;
}

.doc-view canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.app {

}

.doc-header {
  display: inline-block;
  padding: 10px 15px;
}

.color-picker {
  display: inline-block;
  border: 4px solid black;
}

.color-picker canvas {
  display: block;
}