* {
  margin: 0px;
  padding: 0px;
}

body {
  background: hsl(245, 10%, 21%);
  color: white;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}

#root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: hsl(245, 10%, 30%);
}

main {
  position: relative;
  flex-grow: 3;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 264px; /* 256 + 4 border * 2*/
  background: hsl(245, 10%, 18%);

}

.doc-view {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.doc-view canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.app {

}

.doc-header {
  display: inline-block;
  padding: 10px 15px;
}

.color-picker {
  display: block;
  margin: 4px;
}

.color-picker canvas {
  display: block;
}

.palette {
  display: block;
  margin: 4px;
}

.palette-cell {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align:top;
}