.tool-properties {
  background: hsl(205, 15%, 15%);
  display: block;
  position: absolute;
  top: 0px;
  right: 36px;
  padding: 10px;
  width: 100px;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size: inherit;
	font-family: inherit;
  outline: none;
}


input[type=number] {
  width: 50px;
  background: hsl(205, 15%, 80%);
}

.colorpicker-color-preview {
  width: 100px;
  height: 32px;
}