<!-- TODO: move these to separate templates, dynamically loaded. -->
<div [ngSwitch]="tool.name">
  <div class="tool-properties" *ngSwitchCase="'Pencil'">
    Size: <input type="number" [(ngModel)]="tool.size" />
  </div>

  <div class="tool-properties" *ngSwitchCase="'Eraser'">
    Size: <input type="number" [(ngModel)]="tool.size" />
  </div>

  <div class="tool-properties" *ngSwitchCase="'ColorPicker'">
    <div class="colorpicker-color-preview" [ngStyle]="{background: tool.color.toHex()}"></div>
  </div>

  <div class="tool-properties" *ngSwitchCase="'Fill'">
    Contiguous <input type="checkbox" [(ngModel)]="tool.contiguous" />
  </div>
</div>